bsp-select {
	display: block;
	position: relative;

	.button {
		padding: 1px 8px 1px 8px;
		font-size: 14px;
		height: 34px;
		border: 1px solid #c6c6c6;
		border-radius: 4px;
		white-space: normal;
		background-color: #eee;
		background-image: linear-gradient(#fff, #ddd);
		white-space: nowrap;
		&.disabled  {
			color: #a0a0a0;
		}
		&:focus {
			outline: none;
		}
	}
	span.sep {
		display: inline-block;
		width: 10px;
	}
	.caret {
		margin-left: 5px;
	}
	img {
		height: 22px;
		width: 22px;
		margin: 0 5px 0 0;
	}
	.bsp-wrapper {
		position: absolute;
		z-index: 999;
		left: 0;
	}
	.filter {
		position: relative;
		input {
			display: block;
			width: 100%;
			padding: 5px 10px;
			border: 1px solid #c6c6c6;
			border-radius: 4px;
		}
		button.reset {
			position: absolute;
			top: 5px;
			right: 5px;
			font-weight: bold;
			width: 20px;
			height: 20px;
			padding: 0;
			line-height: 100%;
		}
	}
	.panel {
		margin-top: 4px;
	}
	bsp-optgroup > .panel-heading {
		background-color: #f5f5f5;
	}
	bsp-option {
		&.btn {
			margin: 5px;
		}
		abbr {
			display: none;
		}
	}
}
