<!DOCTYPE html>
<html lang="en" ng-app="BootstrapPlusDemo" id="top">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Angular directives for Bootstrap</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="assets/demo.css" rel="stylesheet" />

	<link href="select/select.css" rel="stylesheet" />

	<script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.7/fastclick.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-touch.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-sanitize.min.js"></script>
	<!-- script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script-->
	<script src="assets/plunker.js"></script>
	<!-- script src="assets/smoothscroll-angular-custom.js"></script-->

	<script src="select/select.js"></script>

	<script src="select/docs/demo.js"></script>

	<script src="select/test/select.spec.js"></script>

</head>
<body class="ng-cloak" xxxng-controller="MainCtrl">

<!--  header class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand visible-xs" href="#">Angular Bootstrap <strong>+</strong></a>
			</div>
		<nav class="hidden-xs">
			<ul class="nav navbar-nav">
				<a href="#top" role="button" class="navbar-brand">Angular Bootstrap Plus</a>
				<li class="dropdown" dropdown>
					<a role="button" class="dropdown-toggle" dropdown-toggle>Directives <b class="caret"></b></a>
					<ul class="dropdown-menu">
					</ul>
				</li>
				<li><a href="#getting_started">Getting started</a></li>
			</ul>
		</nav>
		<nav class="visible-xs" collapse="!isCollapsed">
			<ul class="nav navbar-nav">
				<li><a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a></li>
				<li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a></li>
			</ul>
		</nav>
		</div>
	</div>
</header>
<div class="header-placeholder"></div -->

<div role="main">
	<header class="bs-header text-center" id="overview">
		<div class="container">
			<h1>Angular Bootstrap Plus</h1>
			<p>
				<a class="btn btn-outline-inverse btn-lg" href="https://github.com/jrief/angular-bootstrap-plus">
					<i class="fa fa-github"></i> Code on Github
				</a>
				<a class="btn btn-outline-inverse btn-lg" href="angular-bootstrap-plus-0.0.1.zip">
					<i class="fa fa-download"></i> Download Package
				</a>
			</p>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 id="angular-bootstrap-plus">angular-bootstrap-plus</h1>
<h2 id="getting-started">Getting Started</h2>
<p>Download <a href="http://jrief.github.io/angular-bootstrap-plus/angular-bootstrap-plus-0.0.1.zip">Angular-Bootstrap-Plus</a>.</p>
<p>In your web page:</p>
<pre><code class="lang-html">&lt;link href=&quot;angular-bootstrap-plus/dist/bootstrap-plus.min.css&quot; rel=&quot;stylesheet&quot; /&gt;

&lt;script src=&quot;angular.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;angular-sanizize.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;angular-bootstrap-plus/dist/bootstrap-plus.min.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
</code></pre>
<h2 id="what-is-angular-bootstrap-plus-">What is Angular Bootstrap Plus?</h2>
<p>This is a collection of Angular directives for Bootstrap, which neither made it into
<a href="http://mgcrea.github.io/angular-strap/">Angular Strap</a>, nor into 
<a href="http://angular-ui.github.io/bootstrap/">UI Bootstrap</a>.</p>
<p>Currently there is only one directive <code>&lt;bsp-select&gt;...&lt;/bsp-select&gt;</code>, but a
compatible slider plugin has already been prepared.</p>
<p>The alert reader might note, that a similar directive exists in <strong>Angular Strap</strong>, but
here one must pass a list of configuration options to this directive. Since I had the need to style
the internals of the drop down menu using pure HTML, this directive didn&#39;t fit.</p>
<p>In <strong>UI Bootstrap</strong> no such directive exists and after
<a href="https://github.com/angular-ui/bootstrap/issues/2607">proposing this module</a> to the
maintainers, it wasn&#39;t accepted. Apparently the UI Bootstrap team wants to follow the same path as
the Angular Strap team. My intention however is to use as much declarative HTML instead of
configuration objects.</p>
				
				<hr />
				<section>
					<h2>Alternative Select Box</h2>
<p>The main reason for rewriting was, that after having searched for a while, for an alternative to the standard HTML <code>&lt;select&gt;</code> element, I came across this
project: <a href="http://isteven.github.io/angular-multi-select/">AngularJS MultiSelect</a>. While being purely based on AngularJS, it unfortunately isn't written in a way
<a href="https://code.angularjs.org/1.2.22/docs/guide/directive">directives</a> should be. Moreover the code base is quite large (with more than 800 lines of code), which makes
it hard to add new features. What I specially disliked, was the need to inject the select options via a wrapping controller.
This certainly was not the intention of the AngularJS's authors!<br/>
Therefore I decided to write my own version of it.
</p>
<div ng-controller="DummySelectDemoCtrl">
	<h3>Single option <small>without default</small></h3>
	<bsp-select ng-model="browser" required>
		<bsp-option value="opera"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/opera.png">Opera</bsp-option>
		<bsp-option value="ie" selected><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/internet_explorer.png">Internet Explorer</bsp-option>
		<bsp-option value="firefox"><img src="//cdn1.iconfinder.com/data/icons/humano2/32x32/apps/firefox-icon.png">Firefox</bsp-option>
		<bsp-option value="safari"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32x32/safari_browser.png">Safari</bsp-option>
		<bsp-option value="chrome"><img src="//cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/32/chrome.png">Chrome</bsp-option>
	</bsp-select>
	<h5>Controller's scope:</h5>
	<pre>{{ browser }}</pre>
	<ol>
		<li>Here <code>&lt;bsp-select&gt;</code> replaces the common HTML tag <code>&lt;select&gt;</code>.</li>
		<li>In a AngularJS controller, bind a model using <code>ng-model="browser"</code> to the local scope.</li>
		<li>Options are added using the HTML tag <code>&lt;bsp-option&gt;</code>.</li>
		<li>To pre-select an <code>&lt;bsp-option&gt;</code> element, add the attribute <code>selected</code> to its HTML tag.</li>
		<li>For a selected <code>&lt;bsp-option&gt;</code>, the value of attribute <code>value</code> is set to the scope's model (here <code>browser</code>).
	</ol>
	<h4>HTML Code:</h4>
	<code>
&lt;bsp-select ng-model="browser" required&gt;<br/>
&nbsp;&nbsp;&lt;bsp-option value="opera"&gt;&lt;img src="opera.png"&gt;Opera&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&lt;bsp-option value="ie" selected&gt;&lt;img src="internet_explorer.png"&gt;Internet Explorer&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&lt;bsp-option value="firefox"&gt;&lt;img src="firefox-icon.png"&gt;Firefox&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&lt;bsp-option value="safari"&gt;&lt;img src="safari_browser.png"&gt;Safari&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&lt;bsp-option value="chrome"&gt;&lt;img src="chrome.png"&gt;Chrome&lt;/bsp-option&gt;<br/>
&lt;/bsp-select&gt;
	</code>
</div>
<hr/>

<div ng-controller="DummySelectDemoCtrl">
	<h3>Single option <small>with default value and search field</small></h3>
	<bsp-select ng-model="browser" empty-label="Select me" filter="Filter ...">
		<bsp-option value="opera"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/opera.png">Opera</bsp-option>
		<bsp-option value="ie"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/internet_explorer.png">Internet Explorer</bsp-option>
		<bsp-option value="firefox"><img src="//cdn1.iconfinder.com/data/icons/humano2/32x32/apps/firefox-icon.png">Firefox</bsp-option>
		<bsp-option value="safari"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32x32/safari_browser.png">Safari</bsp-option>
		<bsp-option value="chrome"><img src="//cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/32/chrome.png">Chrome</bsp-option>
	</bsp-select>
	<h5>Controller's scope:</h5>
	<pre>{{ browser }}</pre>
	<ol>
		<li>With <code>empty-label="Select me"</code>, one can override the label, when no option has been selectd.</li>
		<li>Since the attribute <code>required</code> is missing, this empty label is added as extra option named &ldquo;Select me&rdquo;, which can be used to deselect all options.</li>
		<li>By adding the attribute <code>filter="Filter ..."</code> to the <code>&lt;bsp-select&gt;</code> element, a user can search for options containing that string.
		This is useful for long lists of options.</li>
	</ol>
	<h4>HTML Code:</h4>
	<code>
&lt;bsp-select ng-model="browser"  empty-label="Select me" filter="Filter ..."&gt;<br/>
&nbsp;&nbsp;...<br/>
	</code>
</div>
<hr/>

<h3>Using in HTML forms</h3>
<form name="my_form" action="http://www.w3schools.com/jsref/demo_post_enctype.asp" method="post" target="_new">
	<bsp-select empty-label="Select Browser" name="select_browser">
		<bsp-option value="opera"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/opera.png">Opera</bsp-option>
		<bsp-option value="ie"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/internet_explorer.png">Internet Explorer</bsp-option>
		<bsp-option value="firefox"><img src="//cdn1.iconfinder.com/data/icons/humano2/32x32/apps/firefox-icon.png">Firefox</bsp-option>
		<bsp-option value="safari"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32x32/safari_browser.png">Safari</bsp-option>
		<bsp-option value="chrome"><img src="//cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/32/chrome.png">Chrome</bsp-option>
	</bsp-select>
	<input type="submit" button class="btn btn-primary btn-sm" />
</form>
<ol>
	<li>Here <code>&lt;bsp-select&gt;</code> is used without an AngularJS controller, instead its selection is available through a HTML <code>&lt;form&gt;</code> element.</li>
	<li>Submitting <code>&lt;bsp-select&gt;</code> via a <code>&lt;form&gt;</code> element, requires to add the attribute <code>name</code>, otherwise the browser does not know how to encode the POST data.</li>
	<li>Try to submit the form and check the <em>x-www-form-urlencoded</em> data received by another server. The received POST data is shown in a new window.</li>
</ol>
	<h4>HTML Code:</h4>
	<code>
&lt;form name="my_form" action="..." method="post"&gt;<br/>
&nbsp;&nbsp;&lt;bsp-select empty-label="Select Browser" name="select_browser"&gt;<br/>
&nbsp;&nbsp;...<br/>
&nbsp;&nbsp;&lt;/bsp-select&gt;<br/>
&lt;/form&gt;
	</code>
<hr/>

<div ng-controller="DummySelectDemoCtrl">
	<h3>Multiple options</h3>
	<bsp-select multiple ng-model="browser" empty-label="Select any" separator="%20%20%20">
		<bsp-option value="opera"><acronym><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/opera.png"><abbr>Op</abbr></acronym>Opera</bsp-option>
		<bsp-option value="ie"><acronym><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/internet_explorer.png"><abbr>IE</abbr></acronym>Internet Explorer</bsp-option>
		<bsp-option value="firefox"><acronym><img src="//cdn1.iconfinder.com/data/icons/humano2/32x32/apps/firefox-icon.png"><abbr>FF</abbr></acronym>Firefox</bsp-option>
		<bsp-option value="safari" selected><acronym><img src="//cdn1.iconfinder.com/data/icons/fatcow/32x32/safari_browser.png"><abbr>Sa</abbr></acronym>Safari</bsp-option>
		<bsp-option value="chrome" selected><acronym><img src="//cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/32/chrome.png"><abbr>Ch</abbr></acronym>Chrome</bsp-option>
	</bsp-select>
	<h5>Controller's scope:</h5>
	<pre>{{ browser }}</pre>
	<ol>
		<li>By adding the attribute <code>multiple</code> to an <code>&lt;bsp-select&gt;</code> element, a user can select more than one option.</li>
		<li>The content of each <em>selected</em> option is displayed inside the pulldown buttom. Since this might consume too much of the button's area, the labels
		inside the <code>&lt;bsp-option&gt;</code> element's can be abbrevated: Then only the content of a <code>&lt;acronym&gt;</code> element is shown inside the button.
		Optionally one may use the <code>&lt;abbr&gt;</code> element to show an abbrevated version of the options label. This content then is shown in the select button,
		but not in the <code>&lt;bsp-option&gt;</code> element.</li>
		<li>In the select button, labels of selected options are separated using a comma: <code>, </code>. This can be overriden by using the attribute <code>separator</code>.
		Special charaters inside the separator attribute, such as spaces, must be URI encoded. In doubt, use the Javascript function <code>encodeURI()</code>. 
	</ol>
	<h4>HTML Code:</h4>
	<code>
&lt;bsp-select multiple ng-model="browser" empty-label="Select any" separator="%20%20%20"&gt;<br/>
&nbsp;&nbsp;...<br/>
	</code>
</div>
<hr/>

<div ng-controller="DummySelectDemoCtrl">
	<h3>Multiple options <small>using option groups</small></h3>
	<bsp-select multiple ng-model="browser" empty-label="Select me" separator="%20%20%20" filter="Filter ...">
		<bsp-optgroup>All Web Browsers
			<bsp-optgroup selectable>Modern Web Browsers
				<bsp-option value="opera"><acronym><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/opera.png"><abbr>Op</abbr></acronym>Opera</bsp-option>
				<bsp-option value="ie"><acronym><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/internet_explorer.png"><abbr>IE</abbr></acronym>Internet Explorer</bsp-option>
				<bsp-option value="firefox"><acronym><img src="//cdn1.iconfinder.com/data/icons/humano2/32x32/apps/firefox-icon.png"><abbr>FF</abbr></acronym>Firefox</bsp-option>
				<bsp-option value="safari" selected><acronym><img src="//cdn1.iconfinder.com/data/icons/fatcow/32x32/safari_browser.png"><abbr>Sa</abbr></acronym>Safari</bsp-option>
				<bsp-option value="chrome" selected><acronym><img src="//cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/32/chrome.png"><abbr>Ch</abbr></acronym>Chrome</bsp-option>
			</bsp-optgroup>
			<bsp-optgroup single>Classic Web Browsers
				<bsp-option value="netscape"><acronym><img src="//www.ucdmc.ucdavis.edu/apps/error/nojavascript/images/netscape_icon.jpg"><abbr>NS</abbr></acronym>Netscape Navigator</bsp-option>
				<bsp-option value="mosaic"><acronym><img src="//magliery.com/MosaicLogo/Images/th-winspin.gif"><abbr>M</abbr></acronym>Mosaic Browser</bsp-option>
				<bsp-option value="amaya"><acronym><img src="//upload.wikimedia.org/wikipedia/en/thumb/f/f4/Amaya_logo_65x50.png/48px-Amaya_logo_65x50.png"><abbr>Ay</abbr></acronym>Amaya</bsp-option>
			</bsp-optgroup>
		</bsp-optgroup>
	</bsp-select>
	<h5>Controller's scope:</h5>
	<pre>{{ browser }}</pre>
	<ol>
		<li>For better organization, <code>&lt;bsp-option&gt;</code> elements can be grouped together by putting them into a <code>&lt;bsp-optgroup&gt;</code> element.</li>
		<li>Grouped <code>&lt;bsp-option&gt;</code> elements do not change behaviour, except for optaining two additional features:</li>
		<li>By adding the attribute <code>selectable</code> to an <code>&lt;bsp-optgroup&gt;</code> element, a user can turn on and off all options of that group, by clicking on the groups title.</li>
		<li>Adding the attribute <code>single</code> to an <code>&lt;bsp-optgroup&gt;</code> element, allows to select only <em>one</em> option of that group.</li>
	</ol>
	<h4>HTML Code:</h4>
	<code>
&lt;bsp-select multiple ng-model="browser" empty-label="Select any" separator="%20%20%20" filter="Filter ..."&gt;<br/>
&nbsp;&nbsp;&lt;bsp-optgroup&gt;All Web Browsers<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;bsp-optgroup selectable&gt;Modern Web Browsers<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;bsp-option value="opera"&gt;&lt;acronym&gt;&lt;img src="opera.png"&gt;&lt;abbr&gt;Op&lt;/abbr&gt;&lt;/acronym&gt;Opera&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;bsp-option value="ie"&gt;&lt;acronym&gt;&lt;img src="internet_explorer.png"&gt;&lt;abbr&gt;IE&lt;/abbr&gt;&lt;/acronym&gt;Internet Explorer&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;bsp-option value="firefox"&gt;&lt;acronym&gt;&lt;img src="firefox-icon.png"&gt;&lt;abbr&gt;FF&lt;/abbr&gt;&lt;/acronym&gt;Firefox&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;bsp-option value="safari" selected&gt;&lt;acronym&gt;&lt;img src="safari_browser.png"&gt;&lt;abbr&gt;Sa&lt;/abbr&gt;&lt;/acronym&gt;Safari&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;bsp-option value="chrome" selected&gt;&lt;acronym&gt;&lt;img src="chrome.png"&gt;&lt;abbr&gt;Ch&lt;/abbr&gt;&lt;/acronym&gt;Chrome&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/bsp-optgroup&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;bsp-optgroup single&gt;Classic Web Browsers<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;bsp-option value="netscape"&gt;&lt;acronym&gt;&lt;img src="netscape_icon.jpg"&gt;&lt;abbr&gt;NS&lt;/abbr&gt;&lt;/acronym&gt;Netscape Navigator&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;bsp-option value="mosaic"&gt;&lt;acronym&gt;&lt;img src="th-winspin.gif"&gt;&lt;abbr&gt;M&lt;/abbr&gt;&lt;/acronym&gt;Mosaic Browser&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;bsp-option value="amaya"&gt;&lt;acronym&gt;&lt;img src="Amaya_logo_65x50.png/48px-Amaya_logo_65x50.png"&gt;&lt;abbr&gt;Ay&lt;/abbr&gt;&lt;/acronym&gt;Amaya&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&lt;/bsp-optgroup&gt;<br/>
&nbsp;&nbsp;&lt;/bsp-optgroup&gt;<br/>
&lt;/bsp-select&gt;
	</code>
</div>
<hr/>

<h3>Interaction with a parent controller</h3>
<div ng-controller="AlertSelectDemoCtrl">
	<p>Add a callback function to the parent controller with <code>ng-change="browserChanged()"</code>. This will be fired
	whenever the select box changes its value.</p>
	<bsp-select ng-model="browser" empty-label="Select me" required ng-change="browserChanged()">
		<bsp-option value="opera"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/opera.png">Opera</bsp-option>
		<bsp-option value="ie"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/internet_explorer.png">Internet Explorer</bsp-option>
		<bsp-option value="firefox"><img src="//cdn1.iconfinder.com/data/icons/humano2/32x32/apps/firefox-icon.png">Firefox</bsp-option>
		<bsp-option value="safari"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32x32/safari_browser.png">Safari</bsp-option>
		<bsp-option value="chrome"><img src="//cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/32/chrome.png">Chrome</bsp-option>
	</bsp-select>
	<h4>HTML Code:</h4>
	<code>
&lt;bsp-select ng-model="browser" empty-label="Select me" required ng-change="browserChanged()"&gt;<br/>
&nbsp;&nbsp;...
	</code>
</div>
<hr/>
<div ng-controller="ActivateSelectDemoCtrl">
	<p>Changing the model value in the parent controller, changes the state of the select box.<br/>
	Click onto one of the list items below.</p>
	<ul class="list-unstyled">
		<li class="btn btn-primary btn-sm" ng-click="setBrowser('opera')">Set Opera</li>
		<li class="btn btn-primary btn-sm" ng-click="setBrowser('ie')">Set Internet Explorer</li>
		<li class="btn btn-primary btn-sm" ng-click="setBrowser('firefox')">Set Firefox</li>
		<li class="btn btn-primary btn-sm" ng-click="setBrowser('safari')">Set Safari</li>
		<li class="btn btn-primary btn-sm" ng-click="setBrowser('chrome')">Set Chrome</li>
	</ul>
	<bsp-select ng-model="browser" empty-label="Select me" required>
		<bsp-option value="opera"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/opera.png">Opera</bsp-option>
		<bsp-option value="ie"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/internet_explorer.png">Internet Explorer</bsp-option>
		<bsp-option value="firefox"><img src="//cdn1.iconfinder.com/data/icons/humano2/32x32/apps/firefox-icon.png">Firefox</bsp-option>
		<bsp-option value="safari"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32x32/safari_browser.png">Safari</bsp-option>
		<bsp-option value="chrome"><img src="//cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/32/chrome.png">Chrome</bsp-option>
	</bsp-select>
</div>
<hr/>
<div ng-controller="MultipleSelectDemoCtrl">
	<p>Changing the model array in the parent's controller for a <code>&lt;bsp-select multiple&gt;</code> element, also changes the state of the select box.<br/>
	Click onto some of the list items below.</p>
	<ul class="list-unstyled">
		<li class="btn btn-primary btn-sm" ng-click="toggleBrowser('opera')">Toggle Opera</li>
		<li class="btn btn-primary btn-sm" ng-click="toggleBrowser('ie')">Toggle Internet Explorer</li>
		<li class="btn btn-primary btn-sm" ng-click="toggleBrowser('firefox')">Toggle Firefox</li>
		<li class="btn btn-primary btn-sm" ng-click="toggleBrowser('safari')">Toggle Safari</li>
		<li class="btn btn-primary btn-sm" ng-click="toggleBrowser('chrome')">Toggle Chrome</li>
	</ul>
	<bsp-select ng-model="browsers" multiple empty-label="Select me">
		<bsp-option value="opera"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/opera.png">Opera</bsp-option>
		<bsp-option value="ie"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/internet_explorer.png">Internet Explorer</bsp-option>
		<bsp-option value="firefox"><img src="//cdn1.iconfinder.com/data/icons/humano2/32x32/apps/firefox-icon.png">Firefox</bsp-option>
		<bsp-option value="safari"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32x32/safari_browser.png">Safari</bsp-option>
		<bsp-option value="chrome"><img src="//cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/32/chrome.png">Chrome</bsp-option>
	</bsp-select>
</div>
<hr/>
<h3>Other Features</h3>
<div>
	<bsp-select ng-model="browser" empty-label="Select me" required>
		<bsp-option value="opera"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/opera.png">Opera</bsp-option>
		<bsp-option value="ie" disabled><img src="//cdn1.iconfinder.com/data/icons/fatcow/32/internet_explorer.png">Internet Explorer</bsp-option>
		<bsp-option value="firefox"><img src="//cdn1.iconfinder.com/data/icons/humano2/32x32/apps/firefox-icon.png">Firefox</bsp-option>
		<hr/>
		<bsp-option value="safari"><img src="//cdn1.iconfinder.com/data/icons/fatcow/32x32/safari_browser.png">Safari</bsp-option>
		<bsp-option value="chrome"><img src="//cdn1.iconfinder.com/data/icons/google_jfk_icons_by_carlosjj/32/chrome.png">Chrome</bsp-option>
	</bsp-select>
	<ol>
		<li>To disable an <code>&lt;bsp-option&gt;</code> element, add the attribute <code>disabled</code> to its HTML tag.</li>
		<li>Add any extra HTML elements to the list of options. Here a <code>&lt;hr&gt;</code> element separates Webkit based browsers from the rest of the world.</li>
	</ol>
	<h4>HTML Code:</h4>
	<code>
&lt;bsp-select ng-model="browser" empty-label="Select me" required&gt;<br/>
&nbsp;&nbsp;&lt;bsp-option value="opera"&gt;&lt;img src="opera.png"&gt;Opera&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;&lt;bsp-option value="ie" disabled&gt;&lt;img src="internet_explorer.png"&gt;Internet Explorer&lt;/bsp-option&gt;<br/>
&nbsp;&nbsp;...
	</code>
</div>
<hr>
<div>
	<p>Of course, also the whole <code>&lt;bsp-select&gt;</code> element can be disabled by adding the attribute <code>disabled</code>.</p>
	<bsp-select ng-model="browser" empty-label="Select me" disabled></bsp-select>
	<h4>HTML Code:</h4>
	<code>
&lt;bsp-select ng-model="browser" empty-label="Select me" disabled&gt;<br/>
&nbsp;&nbsp;...
	</code>
</div>
				</section>
				
			</div>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<p>&copy; 2015 <a href="https://github.com/jrief">Jacob Rief</a>.</p>
		<p>Code licensed under <a href="https://github.com/jrief/angular-bootstrap-plus/blob/master/LICENSE"> MIT</a>.</p>
		<p><a href="https://github.com/jrief/angular-bootstrap-plus/issues?state=open">Open Issues</a></p>
	</div>
</footer>

</body>
</html>