<button type="button" class="button" ng-click="toggleDropdown($event)" ng-class="cssClasses">
	<span ng-bind-html="renderButtonLabels()"></span>
	<span class="caret"></span>
	<input ng-if="name" type="hidden" name="{{ name }}" value="{{ model }}" />
</button>
<div class="bsp-wrapper" ng-show="showDropdown" ng-click="$event.stopPropagation()">
	<div class="bsp-container">
		<bsp-default-option ng-if="selectNone" ng-click="deselectAll()">{{ selectNone }}</bsp-default-option>
		<div ng-transclude></div>
	</div>
</div>