.demo {
	margin: 0;
	padding: 5px;
	display: block;
	height: 60px;
	overflow-x: hidden;
	list-style-type: none;
	white-space: nowrap;
	margin-left: 0;
	transition: margin-left 0.5s;
}
.demo li {
	display: inline-block;
	margin: 0 5px 0 0;
	background-color: #bbb;
	width: 50px;
	height: 50px;
	padding:5px;
}
