bsp-scroll-pane {
	width: 100%;
	overflow-x: hidden;
	border: 1px solid green;
	display: block;
	position: relative;

	.scroll {
		width: 25px;
		position: absolute;
		top: 0;
		bottom: 0;
		padding: 5px;
		cursor: pointer;
		&:hover .button {
			opacity: 1;
		}
	}

	.button {
		width: 3px;
		height: 24px;
		top: 50%;
		margin-top: -12px;
		position: absolute;
		opacity: 0.15;
	}

	.arrow {
		content: '';
		position: absolute;
		height: 50%;
		width: 100%;
		background-color: white;
		box-shadow: black 1px 1px 3px;
	}

	.scroll-left {
		@extend .scroll;
		left: 0;
		&:hover {
			background: linear-gradient(to right, dimgrey, transparent);
		}

		.button-left {
			@extend .button;
			margin-left: 2px;

			.arrow-left {
				&::before {
					@extend .arrow;
					top: 0;
					transform: skew(-15deg, 0deg);
				}
				&::after {
					@extend .arrow;
					bottom: 0;
					transform: skew(15deg, 0deg);
				}
			}
		}
	}

	.scroll-right {
		@extend .scroll;
		right: 0;
		&:hover {
			background: linear-gradient(to left, dimgrey, transparent);
		}

		.button-right {
			@extend .button;
			margin-left: 10px;

			.arrow-right {
				&:before {
					@extend .arrow;
					top: 0;
					transform: skew(15deg, 0deg);
				}
				&:after {
					@extend .arrow;
					bottom: 0;
					transform: skew(-15deg, 0deg);
				}
			}
		}
	}
}
